@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;600;700;800&display=swap');

* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/*Font Size*/

h1 {
    font-size: 25px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 15px;
}

p {
    font-size: 12px;
}

/*Body*/
body {
    background-color: rgb(235, 231, 226);
}

/*Header*/

.logo-container {
    display: flex;
    flex-direction: row;
}

.logoImg{ 
    max-height: 35px;
    margin-right: 10px;
}

.nav-container {
    display: flex;
    padding: 0px 45px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(213, 193, 178);
}

/*Pagina de Inicio*/

.navOptions {
    width: 550px;
}

.navOptions ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-self: center;
    justify-items: center;
}

.navOptions li {
    padding: 13px 10px 13px 10px;
    justify-self: center;
}

.navOptions a {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.navOptions a:hover {
    color: rgb(103, 82, 79);
}

.searchAndUser {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchInput {
    padding: 5px 5px;
    margin: 0px 15px;
    height: 20px;
    width: 150px;
    font-size: 12px;
    line-height: 20px;
}

.navIcon {
    max-height: 18px;
    margin: 0px 10px;
    cursor: pointer;
}

/*main*/

.mainInfo {
    display: flex;
    justify-content: center;
}

.mainImg {
    max-width: 1350px;
    height: auto;
    margin: 30px 0px;
}

/*Shopping cart*/

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 570px;
}

.list-title {
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
}


.list-product {
    margin-top: 15px;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}


.counter{
    width: 70px;
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.counter-btn{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: rgb(213, 193, 178);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}

.count{
    font-size: 15px;
    font-weight: 900;
    color: #202020;
}

.list-price {
    align-self: flex-end;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list-empty {
    max-height: 28px;
    margin: 0px 5px;
    cursor: pointer;
}

.list-shop {
    align-self: center;
    text-align: center;
}

/*Cards design*/

.cardSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

.productCard {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(94, 89, 80, 0.1);
    width: 300px;
    max-height: 450px;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}

.productCard > img {
    max-height: 300px;
}

.productCard > p {
    margin-top: 10px;

}

.productCard > h4 {
    margin: 15px 0px 15px 0px;
}

.productBuy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 240px;
}

.cart-btn {
    margin: 5px 0px;
    padding: 0 8px;
    font-weight: 400;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #fff;
    height: 20px;
    min-width: 70px;
    line-height: 15px;
    cursor: pointer;
}

.cart-btn:hover {
    background: #C77B34;
    border: 1px solid #C77B34;
    color: #fff;
}

/*Sidenav carrito*/

#main {
    transition: margin-left .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(94, 89, 80, 0.1);
    overflow-x: hidden;
    padding: 40px 0px;
    transition: 0.5s;
}

.sidenav p {
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 22px;
    margin-left: 50px;
}

.sidenav-title{
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidenav-empty{
    padding: 0px 15px;
    text-align: center;
}

.deleteIcon {
    max-height: 15px;
    margin: 0px 5px;
    cursor: pointer;
}

/*Modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    height: 800px;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Login*/

.login-form {
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
    padding: 10px;
}

.login-form > input {
    margin: 10px 0px;
    padding: 8px;
    height: 50px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #cecece;
}

.login-form > label {
    font-size: 25px;
}

.login-button {
    margin: 10px 0px;
    padding: 0 25px;
    font-weight: 400;
    border-radius: 6px;
    background-color: #141414;
    height: 30px;
    color: #ffffff;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
}

.login-button:hover {
    opacity: 0.8;
}


/*Footer*/

.footer-container {
    display: flex;
    padding: 0px 45px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: rgb(213, 193, 178);
}

.footer-container ul {
    list-style: none;
}

.footer-container a {
    color: #000;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
}

.footer-container a:hover {
    color: rgb(103, 82, 79);
}

/*Pagina de compra*/

.form-title {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-container p, label {
    font-size: 15px;
}

.form-container span {
    font-size: 11px;
    font-weight: 500;
    color: rgb(103, 82, 79);
}

.form-input {
    margin: 5px 0px;
    padding: 5px;
    height: 30px;
    width: 300px;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid #cecece;
    line-height: 18px;
}

.input-error {
    border: 2px solid rgb(103, 82, 79);
}

/*Media queries*/

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav p {font-size: 14px;}
}